@import "variables.scss";

@mixin cta-big {
  background: $primary;
  border: none;
  color: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0.8rem;
  margin: 1rem 0 1rem 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  transition: all ease 200ms;
  font-size: inherit;
  line-height: 1rem;

  @media (min-width: $breakpoint-large) {
    padding: 0.9rem 1.3rem 1rem;
    border-radius: 8px;
  }
}

@mixin cta-big--hover {
  background: $charcoal;
  transform: translateY(-2px);
  cursor: pointer;
}
